<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- SMS permission -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    
    <!-- Camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    
    <!-- Storage permissions for photos -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeWalk"
        tools:targetApi="31">
        
        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY_HERE" />
            
        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.SafeWalk.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" 
            android:theme="@style/Theme.SafeWalk.NoActionBar" />
            
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
        
        <!-- Safe Route Mapping Activity -->
        <activity
            android:name=".SafeRouteActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        
        <!-- Report Incident Activity -->
        <activity
            android:name=".ReportIncidentActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <!-- Incident List Activity -->
        <activity
            android:name=".IncidentListActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <!-- Incident View Activity -->
        <activity
            android:name=".IncidentViewActivity"
            android:exported="false"
            android:parentActivityName=".IncidentListActivity" />
            
        <!-- File Provider for Camera -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.appathon.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        
        <!-- Emergency Contacts Activity -->
        <activity android:name=".EmergencyContactsActivity" />
    </application>

</manifest>